@import './content.scss';
@import './gloalnavbar.scss';
@import './pagefooter.scss';
@import './grid.scss';
@import './button.scss';
@import './link.scss';
@import './homepage.scss';
@import './icons-images.scss';

//animation

@import '../animation/index.scss';